.cuttingDiv {
  margin: 10px 0px 0px 10px;
  overflow: hidden;
}

.intextDiv {
  min-width: 170px;
  width: 170px;
  max-width: 170px;
  float: left;
}

.posPol {
  background-image: url('../img/posPol.png');
  background-size: 30px 25px;
  width: 30px;
  height: 25px;
}

.neuPol {
  background-image: url('../img/neuPol.png');
  background-size: 30px 25px;
  width: 30px;
  height: 25px;
}

.negPol {
  background-image: url('../img/negPol.png');
  background-size: 30px 25px;
  width: 30px;
  height: 25px;
}

.floatleft {
  float: left;
}
