.tag_cloud {
  padding: 3px;
  text-decoration: none;
  font-family: verdana;
}

.tag_cloud:link {
  color: blue;
}

.tag_cloud:visited {
  color: #9900ff;
}

.tag_cloud:hover {
  color: #9900ff;
}

.tag_cloud:active {
  color: #6699ff;
  background: #000000;
}
